#text{
    color: blueviolet;
}
#text2{
    color: green;
}
#text3{
    color: skyblue;
}
#text4{
    color: purple;
}
#text5{
    color: gold;
}
#text6{
    color: black;
}
tr:Last-child > td{ 
    color: red;
}
