{% extends 'base.html' %}

{% block meta %}
  {% load static %}
  <title>Foster's bag</title>
  <link rel="stylesheet", href="{% static 'css/style.css' %}">
  <link rel="stylesheet", href="{% static 'css/colors.css' %}">

{% endblock meta %}
{% block content %}
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Alvin Zhafif Afilla PBP KKI</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              {%load static%}
                <head>
                    <link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/colors.css'%}">
                </head>
              </button>
              <a href="{% url 'main:logout' %}">
                {%load static%}
                <head>
                    <link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/colors.css'%}">
                </head>
                <button type="button" class="btn btn-dark btn-outline-light">
                    Logout
                </button>
            </a>
            </div>
          </nav>
    </div>

<body id="bg" style="background-image: url('{%static 'main/bg.jpeg'%}');">


<h1>Foster's Bag</h1>

<h4>Current Merchant:</h4>
<p>{{name}}</p>

<h4>Project Description:</h4>
<p>{{ general }}</p>
<p>{{ lore }}</p>

<h4>Category Classification</h4>
<p>{{categories}}</p>

<h4>There are 4 item rarity, ranked based on these colors</h4>
<div id="text2">
  <p>Uncommon</p>
</div>
<div id="text3">
  <p>Rare</p>
</div>
<div id="text4">
  <p>Epic</p>
</div>
<div id="text5">
  <p>Legendary</p>
</div>


<table id="product_table"></table>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form id="form" onsubmit="return false;">
                      {% csrf_token %}
                      <div class="mb-3">
                          <label for="name" class="col-form-label">Name:</label>
                          <input type="text" class="form-control" id="name" name="name"></input>
                      </div>
                      <div class="mb-3">
                          <label for="price" class="col-form-label">Price:</label>
                          <input type="number" class="form-control" id="price" name="price"></input>
                      </div>
                      <div class="mb-3">
                          <label for="description" class="col-form-label">Description:</label>
                          <textarea class="form-control" id="description" name="description"></textarea>
                      </div>
                      <div class="mb-3">
                          <label for="description" class="col-form-label">Amount:</label>
                          <textarea class="form-control" id="amount" name="amount"></textarea>
                      </div>
                      <div class="mb-3">
                        <label for="description" class="col-form-label">Type:</label>
                        <textarea class="form-control" id="type" name="type"></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="description" class="col-form-label">Rarity:</label>
                      <textarea class="form-control" id="rarity" name="rarity"></textarea>
                  </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
              </div>
          </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>
   

<br />

<h5>Last login session: {{ last_login }}</h5>

<script>
  async function getProducts() {
      return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
  }
  async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = ""
        products.forEach((item) => {
            htmlString += `\n<tr>
              <div class="card" style="width: 18rem;">
              `
              if (item.fields.type == "Sword") {
                htmlString += `<p class="card-text">${item.fields.type}</p>
                <img class="card-img-top" src="{% static 'main/sword.jpeg' %}" alt="Card image cap">
                `
              }
              else if (item.fields.type == "Bow") {
                htmlString += `<p class="card-text">${item.fields.type}</p>
                <img class="card-img-top" src="{% static 'main/bow.jpeg' %}" alt="Card image cap">
                `
              }
              else if (item.fields.type == "Throwable") {
                htmlString += `<p class="card-text">${item.fields.type}</p>
                <img class="card-img-top" src="{% static 'main/throwable.jpeg' %}" alt="Card image cap">
                `
              }
              else if (item.fields.type == "Shield") {
                htmlString += `<p class="card-text">${item.fields.type}</p>
                <img class="card-img-top" src="{% static 'main/shield.jpeg' %}" alt="Card image cap">
                `
              }
              else{
                htmlString += `<p class="card-text">Miscellaneous</p>
                <img class="card-img-top" src="{% static 'main/huh.jpeg' %}" alt="Card image cap">
                `
              }
              `
              <div class="card-body">
               `
               if(item.fields.rarity == "Uncommon"){
                htmlString += `<p class="card-text" id="text2">${item.fields.name}</p>
                `
               }
               else if(item.fields.rarity == "Rare"){
                htmlString += `<p class="card-text" id="text3">${item.fields.name}</p>
                `
               }
               else if(item.fields.rarity == "Epic"){
                htmlString += `<p class="card-text" id="text4">${item.fields.name}</p>
                `
               }
               else if(item.fields.rarity == "Legendary"){
                htmlString += `<p class="card-text" id="text5">${item.fields.name}</p>
                `
               }
               
              htmlString += `<p class="card-text">${item.fields.description}</p>
              `
              htmlString += `<p class="card-text">Price: ${item.fields.price}</p>
              `
              htmlString += `<p class="card-text">Amount left: ${item.fields.amount}</p> 
              `
              htmlString += `<p class="card-text">Date-added: ${item.fields.date_added}</p> 
              `
              htmlString += `<button onclick="delete_product(${item.pk})">Delete Product by AJAX</button>
              `
               htmlString += '</div>'
            htmlString += '</div>'
        htmlString += '</tr>' 
        })
        
        document.getElementById("product_table").innerHTML = htmlString
    }

    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }
    function delete_product(id){
      fetch("/delete-product-ajax/" + id, {
        method: "POST",
    }).then(refreshProducts)
      return false
    }
    
    document.getElementById("button_add").onclick = addProduct
    refreshProducts()
</script>

{% endblock content %}

</body>
