{% extends 'base.html' %}

{% block content %}
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Alvin Zhafif Afilla PBP KKI</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              {%load static%}
                <head>
                    <link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/colors.css'%}">
                </head>
              </button>
              <a href="{% url 'main:logout' %}">
                {%load static%}
                <head>
                    <link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/colors.css'%}">
                </head>
                <button type="button" class="btn btn-dark btn-outline-light">
                    Logout
                </button>
            </a>
            </div>
          </nav>
    </div>

{%load static%}
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/style.css'%}">
</head>
<body id="bg" style="background-image: url('{%static 'main/bg.jpeg'%}');">


<h1>Foster's Bag</h1>

<h4>Current Merchant:</h4>
<p>{{name}}</p>

<h4>Project Description:</h4>
<p>{{ general }}</p>
<p>{{ lore }}</p>

<h4>Category Classification</h4>
<p>{{categories}}</p>

{%load static%}
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/colors.css'%}">
</head>
<h4>There are 4 item rarity, ranked based on these colors</h4>
<div id="text2">
  <p>Uncommon</p>
</div>
<div id="text3">
  <p>Rare</p>
</div>
<div id="text4">
  <p>Epic</p>
</div>
<div id="text5">
  <p>Legendary</p>
</div>


<table>

    {% comment %} Below is how to show the product data {% endcomment %}

    {% for product in products %}
        <tr>
            <div class="card" style="width: 18rem;">
              {%load static%}
              <head>
                  <link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/style.css'%}">
              </head>
              {% if product.type == "Sword"%}
                <p class="card-text">{{product.type}}</p>
                <img class="card-img-top" src="{% static 'main/sword.jpeg' %}" alt="Card image cap">
              {% elif product.type == "Bow"%}
                <p class="card-text">{{product.type}}</p>
                <img class="card-img-top" src="{% static 'main/bow.jpeg' %}" alt="Card image cap">
              {% elif product.type == "Shield"%}
                <p class="card-text">{{product.type}}</p>
                <img class="card-img-top" src="{% static 'main/shield.jpeg' %}" alt="Card image cap">
              {% elif product.type == "Throwables"%}
                <p class="card-text">{{product.type}}</p>
                <img class="card-img-top" src="{% static 'main/throwable.jpeg' %}" alt="Card image cap">
              {% else %}
                <p class="card-text">Miscellaneous</p>
                <img class="card-img-top" src="{% static 'main/huh.jpeg' %}" alt="Card image cap">
              {% endif %}
              <div class="card-body">
                {%load static%}
                <head>
                    <link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/colors.css'%}">
                </head>
                {% if product.rarity == "Uncommon"%}
                  <h5 class="card-title" id="text2">{{product.name}}</h5>
                {% elif product.rarity == "Rare" %}
                  <h5 class="card-title" id="text3">{{product.name}}</h5>
                {% elif product.rarity == "Epic" %}
                  <h5 class="card-title" id="text4">{{product.name}}</h5>
                {% elif product.rarity == "Legendary"%}
                  <h5 class="card-title" id="text5">{{product.name}}</h5>
                {% endif %}
                <p class="card-text">{{product.description}}</p>
                <p class="card-text">Amount: {{product.amount}}</p>
                <p class="card-text">Price: {{product.price}} zels</p>
              </div>
            </div>
                  <a href="{% url 'main:edit_product' product.pk %}">
                    <button>
                        Edit
                    </button>
                </a>
                <a href="{% url 'main:delete_product' product.pk %}">
                    <button>
                        Delete
                    </button>
                </a>
            </td>
            </div>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>

<h5>Last login session: {{ last_login }}</h5>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}

</body>
