{% extends 'base.html' %}

{% block content %}

<h1>Foster's Bag</h1>

<h3>Name:</h3>
<p>{{name}}</p>

<h3>Class:</h3>
<p>{{class}}</p>

<h4>Project Description:</h4>
<p>{{ general }}</p>
<p>{{ lore }}</p>

<h4>Since there is nothing to show currently here's a preview of one of his sold items,</h4>
<p>Weapon name: {{ weapon }}</p>
<p>Description: {{weapon_desc}}</p>
<p>In stock: {{amount}}</p>


<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Amount</th>
        <th>Type</th>
    </tr>

    {% comment %} Below is how to show the product data {% endcomment %}

    {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.description}}</td>
            <td>{{product.date_added}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.type}}</td>

        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>


{% endblock content %}

